{% extends 'news/base.html' %}

{% block content %}

    <form action="{% url 'test_url_name' %}" method="get">

        <div class="form-outline">
            <input type="search" id="form1" name="search_text" class="form-control" placeholder="Введите название..." aria-label="Search"/>
        </div>
    <button type="submit"> Поиск </button>

    </form>

    {% for post in posts %}
        <div class="post">
            <h1><a href="">{{ post.title }}</a></h1>

            <h1> {{ post.published_date }}</h1>

            <h1> {{ post.subtitle }}</h1>

            <h1> {{ post.category }}</h1>
            {#            {% for j in post.category.all %}#}
            {#                <h1> {{ j.title }}</h1>#}
            {#            {% endfor %}#}
            <p>{{ post.text|linebreaksbr }}</p>
            <p>      {{ image.name }}
                <img src="{{ post.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"/>
            </p>
        </div>

    {% endfor %}
{% endblock %}

